@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Variáveis de tema claro */
:root {
    --bg-color: #f8f8f8;
    --text-color: #333;
    --sidebar-bg-color: #f3eaff;
    --logo-color: #6c63ff;
    --nav-link-color: #333;
    --nav-link-hover-bg-color: #e0d4ff;
    --nav-link-hover-color: #6c63ff;
    --header-bg-color: #fff;
    --header-border-color: #ddd;
    --news-card-bg-color: #eef6ff;
}

/* Variáveis de tema escuro */
body.dark-mode {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --sidebar-bg-color: #222222;
    --logo-color: #bb86fc;
    --nav-link-color: #f0f0f0;
    --nav-link-hover-bg-color: #333333;
    --nav-link-hover-color: #bb86fc;
    --header-bg-color: #222222;
    --header-border-color: #333333;
    --news-card-bg-color: #2c2c2c;
}

body {
    margin: 0;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/;
    font-family: 'Merriweather', sans-serif;
     /*font-family: 'Montserrat', sans-serif;*/
    /*font-family: 'Nunito', sans-serif;*/
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-x: hidden;
}

.header, .footer, .news-article {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.header {
    background-color: var(--header-bg-color);
    color: var(--text-color);
    padding: 0.5rem;
    text-align: center;
    border-bottom: 2px solid var(--header-border-color);
}

.header .logo {
    height: 110px;
    width: auto;
    vertical-align: middle;
}

.no-hover a:hover,
.no-hover:hover{
    background-color: transparent !important;
    color: inherit !important;
    cursor: default;
    pointer-events: none;

}

.header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    flex-wrap: wrap;
}

.header nav ul li {
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

.header nav ul li a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.header nav ul li a:hover {
    background-color: var(--nav-link-hover-bg-color);
    color: var(--nav-link-hover-color);
}


.hero {
    background: linear-gradient(to right, var(--logo-color), var(--sidebar-bg-color));
    color: #ffffff;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 0 0 50% 50% / 0 0 30% 30%;
}

.hero h2 {
    font-size: 8.5rem;
    margin: 0;
}

.animated-text {
    position: relative;
    display: inline-block;
}

.animated-text .stroke-text {
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-stroke: 2px #ffffff;
}

.animated-text .fill-text {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 49%, 13% 44%, 27% 46%, 43% 55%, 55% 63%, 74% 66%, 89% 65%, 100% 63%, 100% 100%, 0% 99%);
    }
    50% {
        clip-path: polygon(0 60%, 15% 66%, 35% 65%, 47% 55%, 60% 48%, 80% 48%, 95% 53%, 100% 63%, 100% 100%, 0% 99%);
    }
}


.about, .services, .contact, .faq, .reviews {
    padding: 2rem;
    text-align: center;
}

.faq-item, .review-item {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.faq-item:hover, .review-item:hover {
    background-color: var(--nav-link-hover-color);
    transform: scale(1.02);
}

.news-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.news {
    flex: 2;
    background-color: var(--news-card-bg-color);
    padding: 2rem;
    border-radius: 10px;
    margin: 1rem;
}

.news-article {
    position: relative;
    width: 100%; /* Ajusta a largura da imagem ao contêiner pai */
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
}

.news h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.news article {
    margin-bottom: 1rem;
}

.news article h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.news article p {
    font-size: 1rem;
    margin: 0;
}

.news-image {
    width: 100%;
    height: 300px; /* Ajuste a altura conforme necessário */
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: flex-end; /* Alinha o texto na parte inferior da imagem */
}

.news-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    color: white; /* Cor do texto em branco */
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    text-align: center;
}

.news-content h3 {
    margin: 0;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra no texto */
}

.news-content p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra no texto */
}

.footer {
    background-color:  var(--nav-link-hover-bg-color);
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
}


#theme-toggle {
    background-color: transparent;
    border: none;
    color: var(--nav-link-color);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: color 0.3s;
}

#theme-toggle:hover {
    color: var(--nav-link-hover-color);
}

/* Para dispositivos móveis (telefones) */
@media (max-width: 600px) {
    .header nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .hero {
        padding: 2rem 1rem;
        border-radius: 0;
    }

    .about, .services, .contact, .faq, .reviews, .news {
        padding: 1rem;
    }

    .news {
        margin: 0.5rem;
    }
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    .header nav ul li {
        display: inline-block;
        margin: 0 0.5rem;
    }

    .hero {
        padding: 3rem 1.5rem;
        border-radius: 0 0 30% 30% / 0 0 20% 20%;
    }

    .about, .services, .contact, .faq, .reviews, .news {
        padding: 1.5rem;
    }

    .news {
        margin: 0.75rem;
    }
}

/* Para telas maiores (desktops) */
@media (min-width: 1025px) {
    .header nav ul li {
        display: inline;
        margin: 0 1rem;
    }

    .hero {
        padding: 4rem 2rem;
        border-radius: 0 0 50% 50% / 0 0 30% 30%;
    }

    .about, .services, .contact, .faq, .reviews, .news {
        padding: 2rem;
    }

    .news {
        margin: 1rem;
    }
}


.contact {
    display: flex;
    align-items: center; /* Centraliza o conteúdo verticalmente */
    justify-content: space-around; /* Ajusta o espaçamento entre texto e imagem */
    padding: 2rem;
    gap: 1.5rem; /* Espaço entre o texto e a imagem */
}

.contact-text {
    max-width: 50%; /* Limita a largura do texto */
}

.contact-image {
    max-width: 400px; /* Define uma largura máxima para a imagem */
    width: 100%; /* Faz a imagem ocupar a largura disponível até o limite */
}

.contact-image img {
    width: 100%; /* Garante que a imagem se ajuste à largura definida */
    border-radius: 10px; /* Adiciona um leve arredondamento à imagem */
}


/* Estilização da div do banner */
.banner {
    width: 100%;
    height: 300px; /* Defina a altura desejada para o banner */
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.banner img {
    width: 100%; /* A imagem ocupa toda a largura do contêiner */
    height: 100%; /* A imagem ocupa toda a altura do contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner mantendo a proporção */
    object-position: center; /* Centraliza a imagem no contêiner */
}

.banner-content {
    position: absolute;
    bottom: 0; /* Ajuste conforme necessári, antes era 20px */
    left: 0; /* Ajuste conforme necessário, antes era 20px */
    color: white; /* Cor do texto */
    padding: 20px; /* antes era 10px */
    border-radius: 5px;
    width: 100%;
    color: #fff;
}

.banner-content h2 {
    position: relative;
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    color: white; /* Cor do texto */
    text-shadow: 
        1px 1px 2px rgba(0, 0, 0, 0.5), /* Sombra leve */
        0 0 25px rgba(0, 0, 0, 0.5), /* Sombra mais forte */
        0 0 5px rgba(0, 0, 0, 0.5); /* Sombra de contorno */
}


.banner-content button {
    background-color: #bac7d2;
    color: #fff;
    border: 1px solid #bac7d2;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 20px;
}

.banner-content button:hover {
    background-color: #0056b3;
}

.banner-carousel {
    width: 100%;
    height: 400px; /* Ajuste a altura conforme necessário */
    overflow: hidden;
    position: relative;
}

.banner-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover; /* Garante que a imagem cubra todo o espaço */
    object-position: center; /* Centraliza a imagem */
    filter: brightness(0.8); /* Reduz a luminosidade para destacar o texto */
}

.indicators {
    position: absolute;
    bottom: 20px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Espaçamento entre as bolinhas */
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: white; /* Ou qualquer cor para o indicador ativo */
}

.reviews {
    padding: 2rem;
    text-align: center;
}

.review-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.review-item {
    display: flex;
    align-items: center;
    background-color: var(--nav-link-hover-color);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.review-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1rem;
}

.review-text {
    text-align: left;
}

.review-text p {
    margin: 0.2rem 0;
}

@media (max-width: 768px) {
    .review-item {
        flex-direction: column;
        text-align: center;
    }

    .review-item img {
        margin: 0 0 1rem 0;
    }

    .review-text {
        text-align: center;
    }
}


.review-item.water-drop {
    position: relative;
    background-color: #0077b6; /* Azul água */
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s;
    color: #ffffff; /* Cor do texto em branco */
}

.review-item.water-drop:hover {
    transform: scale(1.05);
    background-color: #0096c7; /* Tom mais claro ao passar o mouse */
}

.review-item.water-drop img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    border: 2px solid #00b4d8; /* Borda em tom de azul */
}

.review-text {
    text-align: center;
}

.review-text p {
    margin: 0.2rem 0;
}

/* Adaptação para dispositivos móveis */
@media (max-width: 768px) {
    .review-list {
        gap: 1rem;
    }

    .review-item.water-drop {
        max-width: 180px;
    }

    .review-item.water-drop img {
        width: 50px;
        height: 50px;
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 600; /* Pode variar de 300 (fino) a 700 (negrito) */
}

p, li, span {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

button, a {
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}



/* Animação fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Animação slide-in */
@keyframes slideIn {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animação de pulsação */
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

/* Aplicando as animações */
.about {
    animation: slideIn 2s ease-out forwards;
}

.about p {
    animation: fadeIn 2s ease-in forwards;
}


/* Animação zoom-in */
@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animação slide-in up */
@keyframes slideInUp {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Aplicando as animações */
.services {
    text-align: center;
    padding: 50px 20px;
}

.services h2 {
    animation: zoomIn 1s ease-out forwards;
}

.services p {
    animation: fadeIn 1.5s ease-in forwards;
}

.services p {
    animation: slideInUp 1.5s ease-in-out forwards;
}

/* Configuração geral para cada serviço */
.services-item {
    margin-top: 30px;
    animation: slideInUp 1.5s ease-in-out forwards;
}

/* Efeito em cascata para os itens */
.services-item:nth-child(1) {
    animation-delay: 0.3s;
}

.services-item:nth-child(2) {
    animation-delay: 0.6s;
}

.services-item:nth-child(3) {
    animation-delay: 0.9s;
}

/* Container para os cards */
.cards-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: stretch; /* Alinha os cards para que tenham a mesma altura */
    margin: 20px 0;
}

/* Estilização para os cards */
.card {
    background-color: var(--sidebar-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Animação ao passar o mouse */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Estilização específica para títulos */
.card h2 {
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--logo-color);
    text-align: center;
}

/* Estilização específica para os parágrafos */
.card p {
    line-height: 1.6;
    text-align: justify; /* Justifica o texto para formatação consistente */
}

/* Estilização adicional para layout responsivo */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }
}
