.help-support,
.privacy-settings {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 20px; /* Espaçamento entre os blocos */
  flex: 1; /* Permite que o bloco cresça e se ajuste */
  margin-top: -500px;
  margin-left: 350px; 
}

/* Estilos dos botões */
.buttons {
  display: flex;
  flex-direction: row; /* Alinha os botões horizontalmente */
  margin-top: 20px;
}

.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  margin-left: 350px; 
  margin-top: 300px; /* Aumenta o espaço acima do botão, fazendo-o descer */

}

.buttons button:hover {
  background-color: #0056b3;
}