.dashboard-container {
  display: flex;
}

.dashboard-main-content {
  flex: 1; /* Ocupa o restante do espaço */
  padding: 20px;
}

.dashboard {

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 90px; /* Adicione esta linha para mover o componente mais para baixo */

}
