/* Estiliza o container principal do NotificationHome */
.notification-home {
    display: flex;
    flex-direction: row; /* Organiza em linha (sidebar e conteúdo) */
    height: 100vh;
    background-color: var(--bg-color);
  }
  
  /* Sidebar ou Menu Lateral */
  .notification-home .sidebar {
    width: 250px; /* Largura da sidebar */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f3f3f3;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }
  
  /* Container principal do conteúdo, com margem para evitar sobreposição com a sidebar */
  .notification-home .main-content {
    margin-left: 250px; /* Espaço equivalente à largura da sidebar */
    flex: 1;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
  }
  
  /* Container das notificações */
  .noti-container {
    width: 60%; /* Ajusta a largura do conteúdo da notificação */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    margin-top: 50px; /* Aumente ou diminua o valor conforme necessário */

  }
  
  /* Responsividade */
  @media (max-width: 1200px) {
    .noti-container {
      width: 80%; /* Diminui a largura em telas menores */
    }
  }
  
  @media (max-width: 768px) {
    .notification-home .main-content {
      margin-left: 0;
    }
    .noti-container {
      width: 100%;
    }
  }