@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f9fd;

}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.acqua-login-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
  background: #fff;
  animation: fadeIn 1s ease-in-out;
}

.acqua-form-panel, .acqua-info-panel {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acqua-form-panel {
  background: #f8f9fd;
}

.acqua-info-panel {
  background: linear-gradient(-45deg, #6c63ff, #5752d4);
  color: #fff;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

h1 a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.acqua-login-form {
  width: 100%;
  max-width: 400px;
  animation: fadeIn 1.2s ease-in-out;
}

.acqua-form-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.acqua-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 30px;
}

.acqua-input-group svg {
  margin-right: 10px;
  color: #acacac;
}

.acqua-input-group input {
  border: none;
  outline: none;
  width: 100%;
  background: none;
  font-size: 1rem;
}

.acqua-password-toggle-icon {
  cursor: pointer;
  color: #acacac;
}

.acqua-password-toggle-icon:hover {
  color: #333;
}

.acqua-action-button {
  width: 100%;
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  text-transform: uppercase;
}

.acqua-solid-button {
  background: #6c63ff;
  color: #fff;
}

.acqua-solid-button:hover {
  background: #5752d4;
}

.acqua-transparent-button {
  background: none;
  color: #6c63ff;
  border: 2px solid #6c63ff;
}

.acqua-transparent-button:hover {
  color: #5752d4;
  border-color: #5752d4;
}

.acqua-forgot-password-link {
  color: #aaa;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}/*                */
.acqua-info-panel img {
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

@media (max-width: 800px) {
  .acqua-login-wrapper {
    grid-template-columns: 1fr;
  }
  .acqua-info-panel {
    display: none;
  }
}

.acqua-logo-link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: fadeIn 1.3s ease-in-out;
}

.acqua-logo {
  width: 150px;
  cursor: pointer;
  transition: transform 0.2s;
}

.acqua-logo:hover {
  transform: scale(1.05);
}

/* Remove a barra de rolagem na horizontal e vertical */
body {
  overflow: hidden;
}

.error-message {
  color: #5752d4;
  font-size: 0.875rem; /* Um pouco menor que o texto padrão */
  margin-top: 5px;
  text-align: left;
}
