.User-container {
  display: flex;
  flex-direction: column; /* Alinha os componentes verticalmente */
  justify-content: flex-start; /* Inicia o conteúdo do topo, mas permite espaço para o header */
  align-items: stretch;
  height: 100vh; /* Mantém a altura total da tela */
}

.dashboard-main-content {
  flex: 1;
  padding: 20px;
}

.dashboard {
  padding: 20px;
  border-radius: 8px;
  margin-top: 90px;
}
