/* Variáveis de tema claro */
:root {
    --bg-color: #f8f8f8;
    --text-color: #333;
    --sidebar-bg-color: #f3eaff;
    --logo-color: #6c63ff;
    --nav-link-color: #333;
    --nav-link-hover-bg-color: #e0d4ff;
    --nav-link-hover-color: #6c63ff;
    --header-bg-color: #fff;
    --header-border-color: #ddd;
    --card-bg-color: #fff;
    --info-card-bg-color: #eef6ff;
    --info-button-bg-color: #6c63ff;
    --info-button-hover-bg-color: #5752d4;
}

/* Configurações de Notificações */
.notification-settings,
.data-analysis-settings {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Aumentado para melhor usabilidade */
    margin: 30px 0; /* Uniformiza a margem acima e abaixo */
    flex: 1;
}

/* Estilo do contêiner principal */
.config-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 20px; /* Aumentado para melhor espaçamento */
    margin-top: 50px;
}

/* Estilos do botão */
.edit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Maior espaçamento entre o botão e as seções */
}

.edit-button {
    padding: 10px 20px;
    background-color: var(--info-button-bg-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Transição suave */
}

.edit-button:hover {
    background-color: var(--info-button-hover-bg-color);
}

/* Estilos de notificação */
.save-notification {
    background-color: #dff0d8; /* Verde claro para sucesso */
    color: #3c763d;
    padding: 15px; /* Aumentado para mais conforto visual */
    border-radius: 4px;
    text-align: center;
    margin-top: 30px; /* Aumentando o espaço acima da notificação */
    animation: fadeIn 0.5s; /* Animação suave */
}

/* Animação para a notificação */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Ajuste de espaçamento e tipografia */
.notification-settings h2,
.data-analysis-settings h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px; /* Aumentado o espaçamento inferior */
}

.notification-settings h3,
.data-analysis-settings h3 {
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 15px; /* Aumentado o espaçamento inferior */
}

.notification-settings label,
.data-analysis-settings label {
    display: block; /* Faz com que cada label ocupe uma linha */
    margin-bottom: 10px; /* Espaço entre as labels */
}

.settings-header {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}

.icon {
    margin-right: 10px; /* Espaço à direita do ícone */
    color: var(--text-color); /* Cor do ícone */
}


