/* Variáveis de tema claro */
:root {
  --bg-color: #f8f8f8;
  --text-color: #333;
  --sidebar-bg-color: #f3eaff;
  --logo-color: #6c63ff;
  --nav-link-color: #333;
  --nav-link-hover-bg-color: #e0d4ff;
  --nav-link-hover-color: #6c63ff;
  --header-bg-color: #fff;
  --header-border-color: #ddd;
  --card-bg-color: #fff;
  --info-card-bg-color: #eef6ff;
  --info-button-bg-color: #6c63ff;
  --info-button-hover-bg-color: #5752d4;
}

/* Variáveis de tema escuro */
body.dark-mode {
  --bg-color: #181818;
  --text-color: #f0f0f0;
  --sidebar-bg-color: #222222;
  --logo-color: #bb86fc;
  --nav-link-color: #f0f0f0;
  --nav-link-hover-bg-color: #333333;
  --nav-link-hover-color: #bb86fc;
  --header-bg-color: #222222;
  --header-border-color: #333333;
  --card-bg-color: #333333;
  --info-card-bg-color: #2c2c2c;
  --info-button-bg-color: #bb86fc;
  --info-button-hover-bg-color: #8e7af7;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.profile-section {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  flex-direction: column; /* Mantém o conteúdo em coluna */
  padding: 20px;
  margin-top: 100px;
  height: calc(100vh - 150px);
}

.profile-section h2 {
  text-align: left; /* Centraliza o texto dentro da largura */
  font-size: 24px;
  margin-bottom: 20px;
  width: auto; /* Remove qualquer ajuste de largura para centralizar melhor */
}




.profile-container {
  display: flex;
  gap: 20px;
}

.profile-info, .profile-payment {
  flex: 1;
}

.profile-card {
  background-color: var(--card-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px;
}

.profile-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-card .form-group {
  margin-bottom: 10px;
}

.profile-card .form-group label {
  display: block;
  font-weight: bold;
}

.profile-card .form-group input,
.profile-card .form-group select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.profile-card .form-group.upload-btn input {
  margin-top: 10px;
}

.payment-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.payment-details img {
  width: 50px;
  height: 30px;
  object-fit: cover;
}

.profile-card button {
  background-color: var(--info-button-bg-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.profile-card button:hover {
  background-color: var(--info-button-hover-bg-color);
}

